*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: white;
}

.iceland{
    display: flex;
    flex-direction: column;
    height: 15rem;
}

.waterfall{
    display: flex;
    flex-direction: column;
    height: 30rem;
}

.horse{
    display: flex;
    flex-direction: column;
    height: 30rem;
}