*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: white;
    display: table;
    height: 100rem;
    margin: 0rem;
    padding: 0rem;
    width: 100rem;
}
.flex-child-image{
    height: 45rem;
    display: flex;
}
.flex-parent{
    display:flex;
    justify-content: flex-start;
    background-color:lightpink;
    width: 110rem;
}
.flex-child-paragraph{
    display:flex;
    justify-content:flex-end;
}
.empty{
    background-color: white;
    height: 10rem;
    width: 60rem;
}
h1{
    text-align: center;
}
.flexparent{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 35rem;
}
h2{
    text-align: center;
}
.flex-child-food{
    display:flex;
    justify-content:flex-start;
    background-color: lightskyblue;
}
.hotdog{
    display: flex;
    justify-content: space-between;
}